body.front .info {
  position: absolute;
  width: 100%;
  top: 311px;

  h1 {
    width: 72%;
    height: 286px;
    float: left;

    i {
      @include drupalaton-img-retina('../img/big_typo.png', '../img/big_typo-2x.png');
      background-size: 100% auto;
    }
  }

  .sponsor {
    float: right;
    margin: 120px 40px 20px 40px;

    .views-row {
      float: none;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

// Landscape
.front{
  .landscape {
    //height: 780px;
    height: 674px;
  }

  .lake {
    //height: 780px;
    height: 674px;
  }

  .hills {
    height: 174px;
    width: 745px;
  }
}
