# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

#phpstorm files
.idea
.idea/*

# ignore php error log:
.ht-php-error.log

#komodo edit
*.komodoproject
*.komodotools

# compass - sass
.sass-cache/