
#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
}

#nav.opened {
  max-height: 9999px;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav-toggle {
  display: none;
}

/**
 * navigation
 */
.navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: all 0.3s ease-in;

  &.fixed {
    background-color: rgba(0, 0, 0, 0.6);

    #nav ul li a {
      color: #fff;
    }
  }
}

#nav {
  @include clearfix;

  ul {
    @include clearfix;
    text-align: center;
    padding: 0 20px;

    li {
      display: inline;
      margin: 0 6px;
      line-height: normal;

      a {
        font-family: $oswald;
        font-weight: bold;
        font-size: $base-font-size + 8;
        color: $menuitemcolor;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
