// about
.about {
  margin-top: 25px;
}

.event-data {
  background: url("../img/drupalaton_hungary.jpg") no-repeat scroll top right transparent;
  padding: 20px 0;
  margin-bottom: 20px;
}

.about-buttons {
  .tab-button {
    width: 31%;
    float: left;

    a {
      color: #fff;
    }
    &.center {
      margin: 0 30px;
    }
  }
}

.sponsors.tab-button {
  @include orange-button;

  width: 100%;
  max-width: 900px;
  margin: 40px 0 0;
  text-align: center;
  border: 0;
}